body {
    background-color: #27241D;
    color: aliceblue;
    font-family: Helvetica;
}

/* styling the nav bar  */
#nav-bar {
    padding: 10px 0px 7px 0px;
    background-color: #27241D;
}
  
#nav-bar a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar a:hover {
    color: #f5385b;
}

li a {
    color: #F7F7F7;
}
  
.dropdown {
    float: left;
    overflow: hidden;
    cursor: pointer;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    color: #f5385b;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    background-color: #2c2c2c;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/* styling the title page */
#title-page {
    background-image: url(images/bg4.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#bohm-title-img {
    margin-top: 40px;
    box-shadow: 0 0 20px ;
    border-radius: 5px;
}

h1 {
    font-size: 3rem;
}

#title-page > h2 {
    font-size: 1.25em;
    margin-top: -25px;
}

#title-quotes {
    display: flex;
    flex-direction: row;
}

#quote-one {
    padding: 30px 50px 40px 0px;
}

#quote-two {
    padding: 30px 0px 40px 50px;
}

/* styling the beginnings in physics title block */
#beginnings-physics-block {
    text-align: center;
    background-color: #423D33;
    padding: 50px;
    text-align: center;
}

#dot {
    height: 25px;
    width: 25px;
    background-color: #f5385b;
    border-radius: 50%;
    display: inline-block;
}

#dot-arrow {
    margin-top: 4px;
}


#vl {
    border-left: 6px solid #857F72;
    height: 13400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}

/* styling the beginning in physics section */
#beginnings h2 {
    text-align: center;
    position: relative;
    background-color: #27241D;
}

#beginnings-article-1 {
    display: flex;
    flex-direction: column;
    background-color: #504A40;
    width: 25%;
    padding: 20px;
    margin-left: 50px;
}

#beginnings-article-1 p {
    line-height: 25px;
}

#beginnings-article-2 {
    display: flex;
    flex-direction: column;
    background-color: #504A40;
    width: 30%;
    padding: 20px;
    margin-left: 70%;
    margin-right: 50px;
    position: relative;
    top: -150px;
    right: 50px;
    margin-bottom: -120px;
}

#beginnings-article-2 p {
    line-height: 25px;
}

/* styling the berkeley/phd title block */
#phd-title-block {
    position: relative;
    text-align: center;
    background-color: #423D33;
    padding: 50px;
    text-align: center;
}

/* styling the berkeley/phd section */
#phd h2 {
    text-align: center;
    position: relative;
    background-color: #27241D;
}

#first-year {
    top: 100px;
}

#phd-card-1, #phd-card-2 {
    background-color: #423D33;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

#phd-card-1 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 50px;
}

#phd-card-2 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -300px;
    margin-bottom: -270px;
}

/* styling the princeton title block */
#princeton-block {
    position: relative;
    text-align: center;
    background-color: #423D33;
    padding: 50px;
    text-align: center;
}

/* styling the princeton section */
#princeton h2 {
    text-align: center;
    background-color: #27241D;
    position: relative;
}

#princeton-first-date {
    top: 150px;
}

#princeton-card-1, #princeton-card-2 {
    display: flex;
    flex-direction: column;
    background-color: #423D33;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#princeton-card-1 {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    line-height: 25px;
    margin-left: 50px;
}

#princeton-card-2 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -300px;
    margin-bottom: -270px;
}

/* styling the sao paulo title block */
#sao-paulo-block {
    position: relative;
    text-align: center;
    background-color: #423D33;
    padding: 50px;
    text-align: center;
}

/* styling the sao paulo section */
#sao-paulo h2 {
    text-align: center;
    background-color: #27241D;
    position: relative;
}

#sp-first-date {
    top: 150px;
}

#sp-card-1, #sp-card-2, #sp-card-3 {
    display: flex;
    flex-direction: column;
    background-color: #423D33;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#sp-card-1 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 50px;
}

#sp-card-2 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -400px;
    margin-bottom: -270px;
}

#sp-card-3 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -100px;
    margin-bottom: -70px;
}

#sp-card-3 q {
    font-size: 1.25em;
    text-align: center;
}

/* styling the israel title block  */
#israel-block {
    position: relative;
    text-align: center;
    background-color: #423D33;
    padding: 50px;
    text-align: center;
}

/* styling israel section content */
#israel h2 {
    text-align: center;
    background-color: #27241D;
    position: relative;
}

#israel-first-date {
    top: 120px;
}

#israel-second-date {
    top: 100px;
}

#israel-card-1, #israel-card-2 {
    display: flex;
    flex-direction: column;
    background-color: #423D33;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#israel-card-1 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 50px;
}

#israel-card-2 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -400px;
    margin-bottom: -350px;
}

/* styling the england title block */
#england-block {
    position: relative;
    text-align: center;
    background-color: #423D33;
    padding: 50px;
    text-align: center;
}

/* styling the england section content */
#england h2 {
    text-align: center;
    background-color: #27241D;
    position: relative;
}

#england-date-1 {
    top: 200px;
}

#england-date-2 {
    top: 200px;
}

#england-date-3 {
    top: 500px;
}

#england-date-4 {
    top: 200px;
}

#england-date-5 {
    top: 500px;
}

#england-date-6 {
    top: 900px;
}

#england-card-1, #england-card-2, #england-card-3, #england-card-4, #england-card-5 {
    display: flex;
    flex-direction: column;
    background-color: #423D33;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#england-card-1 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 50px;
}

#england-card-2 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -400px;
    margin-bottom: -350px;
}

#england-card-3 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 50px;
    top: -300px;
}

#england-card-4 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -550px;
    margin-bottom: -350px;
}

#england-card-5 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 50px;
    top: -500px;
    margin-bottom: -450px;
}

/* styling the philosophy title block */
#philosophy-block {
    position: relative;
    text-align: center;
    background-color: #423D33;
    padding: 50px;
    text-align: center;
}

/* styling the philosophy section content */
#philosophy h2 {
    text-align: center;
    background-color: #27241D;
    position: relative;
}

#phil-date-1 {
    top: 100px;
}

#phil-date-2 {
    top: 200px;
}

#phil-card-1, #phil-card-2, #phil-card-3 {
    display: flex;
    flex-direction: column;
    background-color: #423D33;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#phil-card-1 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 50px;
}

#phil-card-2 {
    width: 30%;
    padding: 20px;
    line-height: 25px;
    margin-left: 60%;
    top: -400px;
    margin-bottom: -350px;
}

#phil-card-3 {
    width: 80%;
    padding: 20px;
    line-height: 25px;
    margin-left: 100px;
}

#phil-card-3-imgs {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
