body {
    background-color: #3b3b3b;
    color: aliceblue;
    font-family: Helvetica;
}

/* styling the nav bar  */
#nav-bar {
    padding: 10px 0px 7px 0px;
    background-color: #222222;
}
  
#nav-bar a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar a:hover {
    color: #f5385b;
}

li a {
    color: #F7F7F7;
}
  
.dropdown {
    float: left;
    overflow: hidden;
    cursor: pointer;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    color: #f5385b;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    background-color: #2c2c2c;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/* styling the title page */
#title-page {
    background-image: url(images/bg4.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#bohm-title-img {
    margin-top: 40px;
    box-shadow: 0 0 20px ;
    border-radius: 5px;
}

h1 {
    font-size: 3rem;
}

#title-page > h2 {
    font-size: 1.25em;
    margin-top: -25px;
}

#title-quotes {
    display: flex;
    flex-direction: row;
}

#quote-one {
    padding: 30px 50px 40px 0px;
}

#quote-two {
    padding: 30px 0px 40px 50px;
}

/* styling the beginning in physics section */
#beginnings {
    background-image: url(images/physics.jpeg);
    padding: 20px;
    margin-top: 30px;
}

/* styling the berkeley/phd section */
#phd h2 {
    background-image: url(images/berk.jpeg);
    background-size: cover;
    padding: 90px;
    min-height: 60px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #b5b0e4;
    font-size: 3rem;
    text-shadow: 10px 10px 10px #25242f;
}

#phd-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-gap: 2rem;
}

#phd-card-1, #phd-card-2 {
    background-color: #515151;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#phd-card-1 {
    margin: 0 0 0 20px;
}

#phd-card-2 {
    margin: 0 20px 0 0;
}

#phd-card-1 img {
    padding: 50px 90px 5px 90px;
}

#phd-card-2 img {
    padding: 50px 50px 7px 50px;
}

#phd-card-1 p, #phd-card-2 p {
    padding: 0px 20px 0px 20px;
    line-height: 20px;
}

/* styling the princeton section */
#princeton h2 {
    background-image: url(images/princeton.jpeg);
    background-size: cover;
    padding: 90px;
    min-height: 60px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #b5b0e4;
    font-size: 3rem;
    text-shadow: 10px 10px 10px #25242f;
}

#princeton-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

#princeton-card-1, #princeton-card-2 {
    display: flex;
    flex-direction: column;
    background-color: #515151;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

#princeton-card-1 {
    margin: 0 0 0 20px;
}

#princeton-card-2 {
    margin: 0 20px 0 0;
}

/* styling the sao paulo section */
#sao-paulo h2 {
    background-image: url(images/saopaulo.jpeg);
    background-size: cover;
    padding: 90px;
    min-height: 60px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #b5b0e4;
    font-size: 3rem;
    text-shadow: 10px 10px 10px #25242f;
}

#sp-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b"
                         "c c";
    grid-gap: 2rem;
}

#sp-card-1, #sp-card-2, #sp-card-3 {
    display: flex;
    flex-direction: column;
    background-color: #515151;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

#sp-card-1 {
    grid-area: a;
}

#sp-card-2 {
    grid-area: b;
}

#sp-card-3 {
    grid-area: c;
}

#sp-card-3-imgs {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

#sp-card-3-img-1 {
    padding-right: 120px;
    
}

#sp-card-3 q {
    font-size: 1.25em;
}

#israel h2 {
    background-image: url(images/technicon.jpg);
    background-size: cover;
    padding: 90px;
    min-height: 60px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #b5b0e4;
    font-size: 3rem;
    text-shadow: 10px 10px 10px #25242f;
}

#england h2 {
    background-image: url(images/birkbeck.jpeg);
    background-size: cover;
    padding: 90px;
    min-height: 60px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #b5b0e4;
    font-size: 3rem;
    text-shadow: 10px 10px 10px #25242f;
}

